@import "vendor/uwazi/styles";

.entity-viewer {
  background-color: #fcfcfc;
}

.app-content > div {
  overflow: auto;
}
.menuNav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 15px;
  width: 100%;
}


.dropdown {
  margin-bottom: 15px;
  margin-right: 150px;
  a {
    font-size: 16px;

    b {
      margin-left: 5px;
    }
  }

  .fa {
    margin-left: 10px;
  }
}

.dropdown-list {
  position: absolute;
  z-index: 100;
  background: white;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 1px;
  list-style: none;
}

.metadata-swtich {
  float: right;
  margin-top: -47px;
}


.item {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0 !important;
  width: 100%;
}

.item-connection {
  position: relative;
  border: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  background: transparent;

  dl {
    margin: 0;
  }
}

.item-type {
  margin: 0 15px 15px;
}

.item-connection,
.connection-data {
  .item-metadata {
    border: 1px dashed #ccc;
    border-top: 1px dashed #e0e0e0;
    display: flex;
    flex-direction: column;
    width: calc(100% + 2px);
    margin: -1px;
    padding: 2px 15px 7px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fefefe;
  }
}

.group {
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:not(:last-child) {
    border-bottom: 2px dotted #ccc;
  }

  > div {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.group-row {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.source {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 50px;
  z-index: 1;
}
.source-row,
.source-connections-1 {
  position: relative;
}

.target-connections {
  width: 50%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
}

.source-connections-1 + .target-connections,
.source-row + .target-connections {
  margin-left: 0;
}

.source-row + .target-connections {
  opacity: 0;
}

.connection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px 15px 50px;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }
}

.connection-data {
  position: relative;
  margin: 0 0 5px;
  border: 1px solid #d7d7dc;
  border-radius: 5px;
  background: #eee;
  width: 100%;
}

.connection-type {
  width: 100%;
  padding: 5px 15px;
  font-size: 12px;
  margin: 0;
  //border: 1px solid #d7d7dc;
  //border-radius: 5px;
  color: #777;

  .fa {
    margin-right: 5px;
  }
}

.item-connection {
  .connection-data {
    margin: 0;
    width: 100%;
  }
}

.item + .item-connection {
  margin-top: 15px;
}

.connection-type:has(> .fa-exchange) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.source > div:first-child,
.target-connections > div:first-child {
  margin-top: 30px;
}

.group-collapse {
  .item {
    display: flex;
    flex-direction: row;
    min-height: 0;
    .item-type {
      margin: 5px;
      flex: 0;
    }

    .item-info {
      padding: 5px;
    }
    .item-metadata {
      display: none;
    }
  }

  .item-metadata {
    display: none;
  }

  .connection-data.as-previous {
    display: none;
  }

  .connection-type {
    padding: 5px;
  }
}

$hub-size: 16px;
.hub {
  width: $hub-size;
  height: $hub-size;
  background: #eee;
  border: 1px solid #ccc;
  position: absolute;
  top: (28px - $hub-size)/2;
  right: -50px - $hub-size/2;
  border-radius: 50%;
  z-index: 1;
}

.item-connection {
  &:after {
    content: '';
    display: block;
    background: #ccc;
    position: absolute;
    height: 1px;
    width: 50px;
    top: 13px;
    right: -50px;
  }
}

.target-connections {  
  .connection-data:before {
    content: '';
    display: block;
    background: #ccc;
    position: absolute;
    height: 1px;
    width: 51px;
    top: 13px;
    right: 100%;
  }
}

.source:not(.source-row) {
  & .hub:after {
    content: '';
    display: block;
    width: 1px;
    top: -100vh;
    bottom: $hub-size - 1px;
    background: blue;
    background: #ccc;
    position: absolute;
    left: 50%;
  }
}

.target-connections {
  border-left: 1px solid red;
  border-left: 1px solid #ccc;
  &:before {
    content: '';
    display: block;
    width: 14px;
    height: 44px;
    background: #fcfcfc;
    position: absolute;
    z-index: 2;
    margin-left: -2px;
  }
  .connection:last-child:after {
    content: '';
    display: block;
    width: 14px;
    background: #fcfcfc;
    position: absolute;
    bottom: 0;
    top: 15px;
    left: 0px;
    margin-left: -2px;
  }
}

.target-connections-multiple:before {
  height: 44px - $hub-size/2;
}

$c-type-0:            #C03B22;
$c-type-1:            #D9534F;
$c-type-2:            #E91E63;
$c-type-3:            #A03AB1;
$c-type-4:            #6F46B8;
$c-type-5:            #3F51B5;
$c-type-6:            #2196F3;
$c-type-7:            #37BDCf;
$c-type-8:            #359990;
$c-type-9:            #5CB85C;
$c-type-10:           #8BC34A;
$c-type-11:           #CDDC39;
$c-type-12:           #F7E64E;
$c-type-13:           #F0AD4E;
$c-type-14:           #EC9920;
$c-type-15:           #E46841;
$c-type-16:           #795548;
$c-type-17:           #9E9E9E;
$c-type-18:           #607D8B;

.connection-type-0 { color: $c-type-0; }
.connection-type-1 { color: $c-type-1; }
.connection-type-2 { color: $c-type-10; }
.connection-type-3 { color: $c-type-3; }
.connection-type-4 { color: $c-type-4; }
.connection-type-5 { color: $c-type-5; }
.connection-type-6 { color: $c-type-6; }
.connection-type-7 { color: $c-type-7; }
.connection-type-8 { color: $c-type-8; }
.connection-type-9 { color: $c-type-9; }
.connection-type-10 { color: $c-type-10; }
.connection-type-11 { color: $c-type-11; }
.connection-type-12 { color: $c-type-12; }
.connection-type-13 { color: $c-type-13; }
.connection-type-14 { color: $c-type-14; }
.connection-type-15 { color: $c-type-15; }
.connection-type-16 { color: $c-type-16; }
.connection-type-17 { color: $c-type-17; }
.connection-type-18 { color: $c-type-18; }

body {
  overflow-y: auto;
  overflow-x: hidden;
}

#app {
  overflow: auto;
  height: auto;
  padding-top: 0;
}

header {
  position: relative;
}

.entity-viewer {
  overflow: hidden;
  height: auto;
  padding-bottom: 60px;
}

.entity-connections {
  position: absolute;
  border-bottom: 1px solid #ccc;
}

.multiselect {
  padding-top: 15px;
}

.multiselect-item {
  padding: 5px;
  margin: 0 -5px;
}
.multiselect-item a {
  color: #444;
  padding: 0px 15px;
  font-weight: bold;
  display: inline-block;
  line-height: 1.2em;
  font-size: 13px;

  .fa {
    margin-right: 10px;
    color: #ccc;
  }

  .fa-check {
    color: #5CB85C;
  }
}