-
  var firstTest = [
    {
      name: "Abdo Junik",
      template: {
        type: 0,
        label: "Victim"
      },
      metadata: [
        {label: "Date of Birth", value: "1945-12-01"},
        {label: "Profession", value: "Farmer"}
      ],
      nodes: [
        {
          relationship: {
            type: 0,
            label: "Lost person",
            metadata: [
              {label: "History", value: "1993-10-01"}
            ]
          },
          connections: [
            {
              name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
              metadata: [
                 {label: "Date of Birth", value: "1977-07-13"}
              ],
              template: {
                type: 5,
                label: "Person"
              },
              relationship: {
                type: 3,
                label: "Suspect",
                metadata: [
                  {label: "Participation level", value: "Suspected of participating in the act"},
                  {label: "Task", value: "Animated Brigade"}
                ]
              }
            },
            {
              name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
              metadata: [
                 {label: "Date of Birth", value: "1979-06-18"},
                 {label: "Brief Biography", value: "Albert Einstein (14 March 1879 – 18 April 1955) was a German-born theoretical physicist.[5] Einstein developed the theory of relativity, one of the two pillars of modern physics (alongside quantum mechanics).[4][6]:274 Einstein's work is also known for its influence on the philosophy of science.[7][8] Einstein is best known by the general public for his mass–energy equivalence formula E = mc2 (which has been dubbed 'the world's most famous equation').[9] He received the 1921 Nobel Prize in Physics 'for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect',[10] a pivotal step in the evolution of quantum theory."}
              ],
              template: {
                type: 5,
                label: "Person"
              },
              relationship: {
                type: 3,
                label: "Suspect",
                metadata: [
                  {label: "Participation level", value: "Suspected of participating in the act"},
                  {label: "Task", value: "Unsuported Brigade"}
                ]
              }
            },
            {
              name: "Süleyman Demirel, CEO of Microsoft coorporation and many other long titles",
              template: {
                type: 6,
                label: "Politically exposed person"
              },
              relationship: {
                type: 2,
                label: "Political Responsible",
                metadata: [
                  {label: "Task", value: "President"}
                ]
              }
            }
          ]
        }
      ]
    },
    {
      name: "Mehmet Salih Akdeniz",
      metadata: [
        {label: "Date of Birth", value: "1945-08-23"},
        {label: "Profession", value: "Psichologist"}
      ],
      template: {
        type: 0,
        label: "Victim"
      },
      nodes: [
        {
          relationship: {
            type: 0,
            label: "Lost person",
            metadata: [
              {label: "History", value: "1993-10-01"}
            ]
          },
          connections: [
            {
              name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
              metadata: [
                 {label: "Date of Birth", value: "1977-07-13"}
              ],
              template: {
                type: 2,
                label: "Person"
              },
              relationship: {
                type: 3,
                label: "Suspect",
                metadata: [
                  {label: "Participation level", value: "Suspected of participating in the act"},
                  {label: "Task", value: "Animated Brigade"}
                ]
              }
            },
          ]
        },
        {
          relationship: {
            type: 0,
            label: "Lost person",
            metadata: [
              {label: "History", value: "Another date!"}
            ]
          },
          connections: [
            {
              name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
              template: {
                type: 2,
                label: "Person"
              },
              metadata: [
                 {label: "Date of Birth", value: "1979-06-18"},
                 {label: "Brief Biography", value: "Albert Einstein (14 March 1879 – 18 April 1955) was a German-born theoretical physicist.[5] Einstein developed the theory of relativity, one of the two pillars of modern physics (alongside quantum mechanics).[4][6]:274 Einstein's work is also known for its influence on the philosophy of science.[7][8] Einstein is best known by the general public for his mass–energy equivalence formula E = mc2 (which has been dubbed 'the world's most famous equation').[9] He received the 1921 Nobel Prize in Physics 'for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect',[10] a pivotal step in the evolution of quantum theory."}
              ],
              relationship: {
                type: 3,
                label: "Suspect",
                metadata: [
                  {label: "Participation level", value: "Suspected of participating in the act"},
                  {label: "Task", value: "Unsuported Brigade"}
                ]
              }
            },
            {
              name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
              template: {
                type: 2,
                label: "Person"
              },
              metadata: [
                 {label: "Date of Birth", value: "1979-06-18"}
              ],
              relationship: {
                type: 8,
                label: "Assassin",
                metadata: [
                  {label: "Participation level", value: "Assassin"},
                  {label: "Task", value: "Main perpetrator"}
                ]
              }
            }
          ]
        }
      ]
    },
    {
      name: "Celal Aziz Aydogdu",
      template: {
        type: 0,
        label: "Victim"
      },
      metadata: [
        {label: "Date of Birth", value: "1955-06-23"},
        {label: "Profession", value: "Farmer"}
      ],
      nodes: [
        {
          relationship: {
            type: 0,
            label: "Lost person",
            metadata: [
              {label: "History", value: "1993-10-01"},
              {Summary: "The events of this day are inscribed in the anals of history as one of the most terrible days for the country.  The attrocities committed during this period are only comparable to the Nazi regime and their cruel actions.  I have no idea what else to put here, I'm just using up sapce."}
            ]
          },
          connections: [
            {
              name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
              metadata: [
                 {label: "Date of Birth", value: "1977-07-13"}
              ],
              template: {
                type: 2,
                label: "Person"
              },
              relationship: {
                type: 3,
                label: "Suspect"
              }
            },
          ]
        }
      ]
    },
    {
      name: "Behçet Tutuş",
      template: {
        type: 0,
        label: "Victim"
      },
      metadata: [
        {label: "Date of Birth", value: "1982-10-05"},
        {label: "Profession", value: "Key Account Manager"}
      ],
      nodes: [
        {
          relationship: {
            type: 0,
            label: "Lost person"
          },
          connections: [
            {
              name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
              metadata: [
                 {label: "Date of Birth", value: "1977-07-13"}
              ],
              template: {
                type: 2,
                label: "Person"
              },
              relationship: {
                type: 3,
                label: "Suspect",
                metadata: [
                  {label: "Involvement", value: "Very bad person"},
                  {Summary: "The events of this day are inscribed in the anals of history as one of the most terrible days for the country.  The attrocities committed during this period are only comparable to the Nazi regime and their cruel actions.  I have no idea what else to put here, I'm just using up sapce."}
                ]
              }
            },
          ]
        }
      ]
    }
  ];