var groupByVictim = [
  {
    name: "Abdo Junik",
    metadata: [
       {label: "Date of Birth", value: "1945-12-01"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Mehmet Salih Akdeniz",
    metadata: [
       {label: "Date of Birth", value: "1925-07-01"},
       {label: "Profession", value: "Muhtar"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Celal Aziz Aydogdu",
    metadata: [
       {label: "Date of Birth", value: "1941-04-04"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Behçet Tutuş",
    metadata: [
       {label: "Date of Birth", value: "1949-06-01"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Mehmet Şerif Avar",
    metadata: [
       {label: "Date of Birth", value: "1969-05-20"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Hasan Avar",
    metadata: [
       {label: "Date of Birth", value: "1969-05-20"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Bahri Şimşek",
    metadata: [
       {label: "Date of Birth", value: "1952-05-09"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Mehmet Shah Atala",
    metadata: [
       {label: "Date of Birth", value: "1969-06-01"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Turan Demir",
    metadata: [
       {label: "Date of Birth", value: "1966-08-25"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Nesrettin Yerlikaya",
    metadata: [
       {label: "Date of Birth", value: "1953-06-03"},
       {label: "Profession", value: "Farmer"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Umit Taş",
            metadata: [
               {label: "Date of Birth", value: "1981-05-01"},
               {label: "Profession", value: "Child"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  },
  {
    name: "Umit Taş",
    metadata: [
       {label: "Date of Birth", value: "1981-05-01"},
       {label: "Profession", value: "Child"},
    ],
    template: {
      type: 3,
      label: "Victim"
    },
    nodes: [
      {
        relationship: {
          type: 2,
          label: "Lost person",
          metadata: [
            {label: "Lost date", value: "1993-10-01"},
            {label: "Lost location", value: "Diyarbakir, Kulp"},
            {label: "Body date", value: "2004-11-05"}
          ]
        },
        connections: [
          {
            name: "Ramadan (Commander, Bolu 2nd Brigade Command)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Yavuz Ertürk (Brigadier General, Bolu 2nd Brigade Commander)",
            template: {
              type: 0,
              label: "Suspect"
            },
            relationship: {
              type: 8,
              label: "Suspect",
              metadata: [
                {label: "Participation level", value: "Suspected of participating in the act"},
                {label: "Task", value: "Unsuported Brigade"}
              ]
            }
          },
          {
            name: "Abdo Junik",
            metadata: [
               {label: "Date of Birth", value: "1945-12-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Salih Akdeniz",
            metadata: [
               {label: "Date of Birth", value: "1925-07-01"},
               {label: "Profession", value: "Muhtar"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Celal Aziz Aydogdu",
            metadata: [
               {label: "Date of Birth", value: "1941-04-04"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Behçet Tutuş",
            metadata: [
               {label: "Date of Birth", value: "1949-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Şerif Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Hasan Avar",
            metadata: [
               {label: "Date of Birth", value: "1969-05-20"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Bahri Şimşek",
            metadata: [
               {label: "Date of Birth", value: "1952-05-09"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Mehmet Shah Atala",
            metadata: [
               {label: "Date of Birth", value: "1969-06-01"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Turan Demir",
            metadata: [
               {label: "Date of Birth", value: "1966-08-25"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Nesrettin Yerlikaya",
            metadata: [
               {label: "Date of Birth", value: "1953-06-03"},
               {label: "Profession", value: "Farmer"},
            ],
            template: {
              type: 3,
              label: "Victim"
            },
            relationship: {
              type: 2,
              label: "Lost person",
              metadata: [
                {label: "Lost date", value: "1993-10-01"},
                {label: "Lost location", value: "Diyarbakir, Kulp"},
                {label: "Body date", value: "2004-11-05"}
              ]
            }
          },
          {
            name: "Abdo Yamik, Bahri Şimşek, Behçet Tutuş, Celal Aziz Aydogdu, Hasan Avar, Mehmet Salih Akdeniz, Mehmet Şah Atala, Mehmet Şerif Avar, Nesrettin Yerlikaya, Umit Taş, Turan Demir",
            metadata: [
              {label: "Legal process status", value: "Ongoing"},
              {label: "Investigation / Trial date", value: "2013-12-27"},
              {label: "Constitional court applicant", value: "No"},
            ],
            template: {
              type: 6,
              label: "Case"
            },
            relationship: {
              type: 0,
              label: "Event",
              metadata: [
                {label: "Date", value: "1993-10-01"},
                {label: "Location", value: "Diyarbakir, Kulp"},
              ]
            }
          }
        ]
      }
    ]
  }
];