doctype html
html
  head
    title Uwazi
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900" data-reactid="8")
    link(href="vendor/css/bootstrap.min.css", rel="stylesheet")
    link(href="vendor/css/font-awesome.min.css", rel="stylesheet")
    link(href="styles/styles.css", rel="stylesheet")
    
  body
    div#app
      div.content
        mixin header-item(title, url, icon)
          li.menuNav-item
            if (icon)
              a.btn.menuNav-btn(href=url, title=title)
                i(class='fa fa-'+icon)
            else
              a.btn.menuNav-btn(href=url)= title
            
        header
          h1.logotype
            a(href="library.html") Uwazi
          ul.menuNav
            li.menuItems
              ul.menuNav-list
            li.menuActions
              ul.menuNav-list
                +header-item('Library', 'library.html', 'th')
                +header-item('My files', 'my-files.html', 'cloud-upload')
                +header-item('Settings', '#', 'cog')
        div.app-content.container-fluid
          div.row.panels-layout
            block content 
    script(src='vendor/js/jquery-2.2.4.min.js')
    script(src='vendor/js/bootstrap.min.js')
    script(src='vendor/js/jquery.sticky-kit.min.js')
    script(src='scripts/app.js')
